html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  margin: auto;
  max-width: 1200px;
  padding: 20px;
  background-image: url("../images/background.jpg");
  background-size: 630px;
  background-repeat: repeat;
}

.article {
  background-color: hsl(136, 28%, 88%);
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
  box-shadow: inset 0px 0px 50px 5px hsl(136, 28%, 50%);
  text-align: center;
}
